.layout-enter-active,
.layout-leave-active {
  transition: all 0.15s;
}

.layout-enter-to,
.layout-leave {
  transition: all 0.15s;
  opacity: 1;
}

.layout-leave-to,
.layout-enter {
  transition: all 0.15s;
  opacity: 0;
}
